body{
  font-family: 'Barlow', sans-serif;
}

main{
  margin: auto 100px;
}

nav{
  width: 100%;
  margin: 1rem;
}

nav h1{
  color: #6439FF;
  font-size: 2rem;
}

#main-description-title{
  margin: auto;
}

#main-description{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#main-description h2{
  font-size: 1.2rem;
}


#main-description #description{
  padding: 0% 20%;
}

#main-description p{
  text-align: center;
}

#main-description a{
  color: #6439FF;
  text-decoration: none;
}
#main-description a:visited{
  color: #6439FF;
  text-decoration: none;
}

#steps-container{
  margin: 5% auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . .";
}

.card-icon-active{
  background-color: #06083f;
  margin: auto;
  color:white;
  width: 35px;
  display: flex; 
  justify-content: center;
  text-align: center;
  height: 35px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 6px;
  font-weight: 600;
}

.card-icon{
  margin: auto;
  background-color: #EFEFEF;
  color:white;
  width: 35px;
  display: flex; 
  justify-content: center;
  height: 35px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px;
  font-weight: 600;
}

.step-card{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  margin-left: -50px;
  margin-right: -50px;
}

.step-card h2{
  text-align: center;
}

.step-card p{
 color: #8e8fb0;
 margin: auto;
 line-height: 1.3;
 height: 3.9em /* (1.3 * 3 lineas) */;
 width: 50%;
}

hr {
  border:none;
  border-top:4px dotted #EFEFEF;
  color:#8e8fb0;
  background-color:#fff;
  height:1px;
  width:100%;
  margin-top: 20px;
}

#warning{
  background-color: #ddf5fc;
  padding: 0px 9px;
  border-radius: 10px;
  margin: 1% 16%;
}

#cotization-value{
  display: flex;
  justify-content: space-between;
  margin: 5% auto auto auto;
  align-items: baseline;
}

#cotization-value a{
  color: #6439FF;
}
#cotization-value a:visited{
  color: #6439FF;
}

#cotization-value span{
  color: #EFEFEF;
}

#info-box{
  display: inline;
}


#operations-form{
  background-color: #ECEEFB;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#operations-form p{
  color: #8e8fb0;
}

#operations-form-left{
  width: 70%;
}


#total-sum{
  text-align: right;
  flex-direction: column;
}

#total-sum p{
  color:#00C07B;
}

#amount{
  font-weight: 900;
  font-size: 2rem;
}

#operations-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#available-amount{ 
  color: #8e8fb0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}


#available-amount button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
  padding-bottom: 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-bottom: 1px solid;
  color: black;
  font-weight: bolder;
  margin: 15px 0px;
}

#details-link-mobile{
  visibility: hidden
}

#submit-button{
  display: flex;
  justify-content:flex-end;
  margin: 2% 0%;
}

#submit-button button{
  background-color: #6439FF;
  color: #fff;
  border: none;
  font: inherit;
	cursor: pointer;
  padding: 20px 150px;
  font-size: 1.5rem;
  border-radius: 10px;;
}

input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border:none;
  color: gray;
  font: inherit;
  padding: 15px 30px;
}

::placeholder{
  color: #ececec;
  font-size: 1.5rem;
}

textarea:focus, input:focus{
  outline: none;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media only screen and (max-width: 850px) {
  main{
    width: 100%;
    margin: auto;
  }

  nav{
    margin: 0;
  }

  nav h1{
    font-size: 1.5rem;
    margin: 10px;
    margin-left: 0;
  }

  #steps-container{
    display: flex;
    flex-direction: column;
    margin: 10% auto;
  }

  .step-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8rem;
    margin: 0 0 -25px 0;
  }

  .step-card h2{
    text-align: left;
  }
  .step-card p{
    margin: 0;
    width: 100%;
  }

  .card-icon{
    margin: 0;
  }

  .card-icon-active{
    margin: 0;
  }

  #main-description #description{
    padding: 0%;
  }

  #main-description{
    width: 100%;
    align-items: flex-start;
  }
  #main-description-title{
    margin: 0;
  }

  #main-description p{
    text-align: left;
  }

  .step-card-description{
    padding-left: 30px;
  }

  .step-card-description h2{
    margin: 0;
  }

  hr{
    border-left:4px dotted #EFEFEF;
    color:gray;
    background-color:#fff;
    width: 1px;
    height: 50px;
    margin: 0 0 0 23px;
  }

  #warning{
    margin: 0;
  }

  #cotization-value a{
    display: none;
  }

  #cotization-value{
    justify-content: center;
  }

  #operations-form{
    flex-direction: column;
  }

  #total-sum{
    text-align: center;
  }

  #operations-form-left {
    width: 100%;
  }

  #operations-header{
    flex-direction: column;
  }

  #bar{
    display: none;
  }

  #available-amount {
  width: 100%;
  justify-content: space-between;
  }

  #available-amount button {
    color: #6439FF;
    }

  #submit-button{
    margin: 80px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #submit-button a{
    color: #6439FF;
  }

  #submit-button a:visited{
    color: #6439FF;
   }

   h3{
     margin: 0px;
   }


  #submit-button button{
   margin: 20px 0px;
   padding: 15px;
   width: 100%;
   text-align: center;
   vertical-align: middle;
  }

  #details-link-mobile{
    visibility: visible;
  }

  #amount{
    margin: 0;
  }
}