body{
  font-family: 'Barlow', sans-serif;
}
main{
  margin: 50px 100px;;
}

nav{
  width: 100%;
  margin: 1rem;
}

nav h1{
  color: #6439FF;
  font-size: 2rem;

}

#main-description{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#main-description h2{
  font-size: 1.2rem;
}

#main-description p{
  text-align: center;
  margin: auto;
}

#main-description a{
  color: #6439FF;
  text-decoration: none;
}

#steps-container{
  margin: 50px auto;
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
}

#steps-container #active{
  margin: auto;
  background-color: #06083f;
  color:white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  font-weight: 100;
}

#steps-container span{
  margin: auto;
  background-color: #EFEFEF;
  color:white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  font-weight: 100;
}

.step-card{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.step-card h2{
  text-align: center;
}

.step-card p{
 color: gray;

}

hr {
  border:none;
  border-top:2px dotted #EFEFEF;
  color:gray;
  background-color:#fff;
  height:1px;
  width:70%;
  margin-top:2%;
}

#warning{
  background-color: #ddf5fc;
  padding: 15px 12px;
  border-radius: 10px;
  margin: 1% 17%;
}

#cotization-value{
  display: flex;
  justify-content: space-between;
  margin: 50px auto auto auto;
}

#cotization-value a{
  color: #6439FF;
}

#cotization-value span{
  color: #EFEFEF;
}

article{
  margin: auto;
}


#operations-form{
  background-color: #ECEEFB;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#total-sum{
  color:#00C07B;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#amount{
  font-weight: 800;
  font-size: x-large;
}
